.hidden{opacity: 0;}
body{font-family: "lato",Arial, Helvetica, sans-serif;}
.case-logo {
  width: 60px;
  height: 63px;
  animation: ease-out 1s;
}
.close-case {
  font-size: 30px;
  margin-left: 1180px;
  color: #000;
}
#lightbox-video1 {
  width: 500px;
  height: 350px;
  margin-left: 430px;
}

h2,
h3 {
  color: rgb(12, 125, 29);
  text-align: center;
}
.case-con p {
  font-size: 20px;
  color: rgb(55, 55, 55);
  text-align: center;
}
