.hidden{opacity: 0;}
body{font-family: "lato",Arial, Helvetica, sans-serif;}

.close-case {
  font-size: 30px;
  margin-left: 80px;
  margin-top: 500px;
  color: #dde100;
}
#lightbox-video1 {
  width: 100%;  
}
@media screen and (max-width: 768px) {
  .case-con,
  img {
    width: 100%; 
    margin-left: 0; 
  }
.case-con p {margin-left: 20px;
margin-top: 20px;}
  .close-case {
    margin-left: 20px; 
    margin-top: 20px; }
}

h2{
  color: rgb(81, 3, 107);
  text-align: center;
  margin-top: 10px;
}
.case-con p {margin-top: 5px;margin-bottom: 10px;
  font-size: 20px;
  color: #780dc5; font-size: 18px;;
  text-align: center;
}
