.header {
  overflow: hidden;
  background-color: #928cde;
  padding: 20px 5px;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.bottom-sec {
  display: flex;
  flex-direction: column;
}

.sec2 {
  overflow: auto;
}

/*header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  display: flex;
}
/* logo */
.header a.logo { 
 padding-bottom: 40px;
  width: 85px;
  height: 85px;
  animation: logoAnimation 3s infinite;
}
@keyframes logoAnimation {
  0% {
    width: 85px;
    height: 85px;
  }
  50% {
    width: 100px;
    height: 100px;
  }
}

.header a:hover {
  background-color: #003371;
  color: rgb(255, 255, 255);
}

.header a.active {
  background-color: #003371;
  color: #fff;
}

.header-right {
  float: right;
  display: flex;
}

/* Add media queries for responsiveness*/
@media screen and (max-width: 500px) {
  .header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 5px;
    height: 230px;
    display: flex;
    justify-content: space-between;
  }

  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
    display: flex;
    flex-direction: column;
  }
}

/* main */
.html {
  scroll-behavior: smooth;
}

/**/
#text {
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 25px;
  text-align: center;
  color: rgb(93, 54, 221);
}
#text:hover {
  color: rgb(167, 154, 7);
  transition: ease 3s;
  margin-top: 10px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* section1 */
h2 {
  font-size: 30px;
  color: #13a705;
  font-family: cursive;
}
h2:hover {
  transition: ease-in-out 3s;
  color: rgb(73, 73, 73);
}
#section1 p {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  margin-top: 50px;
  color: rgb(240, 0, 232);
}
#section1 p:hover {
  transition: ease-in-out 2s;
  color: #004e05;
  font-family: "lato", Arial, Helvetica, sans-serif;
}
#section1 img {border-radius: 15px;}
#section1 {
  background-color: #fff;
  height: 700px;
  margin-top: 4px;
  font-size: 25px;
  text-align: center;
}
#button {
  margin-top: 50px;
}
#button p {
  color: rgb(255, 111, 0);
  transition: ease-in-out 2s;
  margin-top: 2px;
}

/* section2 */

#section2 {
  height: 450px;
  background-color: #fff;
  margin-top: 4px;
  font-size: 35px;
  align-items: flex-start;
}

#section2 ol {
  margin-left: 60px;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#section2 ol:hover {
  font-size: 32px;
  color: #383838;
  font-family: "lato", Arial, Helvetica, sans-serif;
  transition: ease 8s;
}
#section2 h2 {
  text-align: center;
}

/* section3 */
#gallery{
  text-align: center;
  color: #13a705;
}
.project,button {margin-left: 50px; color: #c60000;}
#section3{ margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;}
#section3 img {
  width: 300px; border-radius: 30px;
  margin-top: 25px;
  transition: transform 0.3s ease-in-out;
}

#section3 p {
  text-align: center;
  font-size: 25px;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Style inputs with type="text" */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;

  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* footer goes here */

input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* social media */
.social-media-icons {
  font-family: "Lato", Arial, sans-serif;
  margin-top: 50px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  background-color: #fff;
}

.social-media-icons {background: #BA8CEE;
  display: flex;
}
.social-media-icons:hover {
  background-color: #b8b8b8;
}

.social-icon {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
}

.facebook img {
  width: 70px;
}
.linkedin img {
  width: 70px;
}
.instagram img {
  width: 70px;
}
.github img {
  width: 70px;
}

#mail {
  margin-top: 50px;
  text-align: center;
  color: #060606;
  font-size: 25px;
  margin-bottom: 30px;
}
#mail,button {margin-top: 10px; color: #000000;margin-left: 5px;}
/* contact form */
input[type="submit"] {
  background-color: #27164d;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 30px;
}

/*mouse over the submit button*/
input[type="submit"]:hover {
  background-color: rgb(216, 0, 0);
  font-weight: bold;
  color: #fff;
}

/* background color and some padding around the form */
.container {
  border-radius: 5px;
  background: #BA8CEE;
  padding: 20px;
}

#end {
  background-color: rgb(93, 54, 221);
  color: white;
  font-family: "lato", Arial, Helvetica, sans-serif;
}


/* skills section starts */
.skills {
  font-size: 20px;
  min-height: 40vh;
  background: linear-gradient(to bottom, #d1a8f5, #4a00e0);
}
.skills h2 {  font-family: cursive;
  color: rgb(18, 117, 0);

}
.centered-skills {
  display: flex;
  justify-content: space-around; 
}

.skills {
  flex: 1;
  margin: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 600px) {
  .skills .container {
    padding: 0;
    margin: 0;
  }
  .skills .container .row {
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
    padding: 2rem 0.2rem 2rem 0.2rem;
    gap: 1rem;
  }
  .skills .container {
    margin-top: 5px;
    width: 100%;
  }
  .centered-skills {
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
  }
}
.skill-title{color: #ffffff;}
.ul-con:hover, .skill-title:hover{color: #8b0000;}
.ul-con{
  color:rgb(255, 255, 255)
}
/* skills section ends */