.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 5px;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

/*header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  display: flex;
}
/* logo */
.header a.logo {
  width: 85px;
  height: 85px;
}

.header a:hover {
  background-color: #ddd;
  color: rgb(115, 0, 0);
}

.header a.active {
  background-color: #000;
  color: #fff;
}

.header-right {
  float: right;
  display: flex;
}

/* Add media queries for responsiveness*/
@media screen and (max-width: 500px) {
  .header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 5px;
    height: 230px;
    display: flex;
    justify-content: space-between;
  }

  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
    display: flex;
    flex-direction: column;
  }
}

/* main */
.html {
  scroll-behavior: smooth;
}

/**/
#text {
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 25px;
  text-align: center;
  color: rgb(0, 0, 0);
}
#text:hover {
  color: rgb(167, 154, 7);
  transition: ease 3s;
  margin-top: 10px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* section1 */
h2 {
  font-size: 30px;
  color: #13a705;
}
h2:hover {
  transition: ease-in-out 3s;
  color: rgb(73, 73, 73);
}
#section1 p {
  font-size: 25px;
  margin-top: 50px;
  color: rgb(0, 0, 0);
}
#section1 p:hover {
  transition: ease-in-out 2s;
  color: #004e05;
  font-family: "lato", Arial, Helvetica, sans-serif;
}

#section1 {
  background-color: #fff;
  height: 700px;
  margin-top: 4px;
  font-size: 25px;
  text-align: center;
}
#button {
  margin-top: 50px;
}
#button p {
  color: rgb(176, 7, 147);
  transition: ease-in-out 2s;
  margin-top: 2px;
}

/* section2 */

#section2 {
  height: 450px;
  background-color: #fff;
  margin-top: 4px;
  font-size: 35px;
  align-items: flex-start;
}

#section2 ol {
  margin-left: 60px;
  /* background-image: url(/images/skills-background.jpg); */
}
#section2 ol:hover {
  font-size: 32px;
  color: #383838;
  font-family: "lato", Arial, Helvetica, sans-serif;
  transition: ease 8s;
}
#section2 h2 {
  text-align: center;
}

/* section3 */
#gallery{
  text-align: center;
  color: #13a705;
}
.project,button {margin-left: 50px; color: #c60000;}
#section3{margin-bottom: 15px;}
#section3 img {
  width: 300px;
  margin-left: 550px;
  margin-top: 25px;
}
#section3 p {
  text-align: center;
  font-size: 25px;
}

/* Style inputs with type="text" */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* footer goes here */
input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* social media */
.social-media-icons {
  font-family: "Lato", Arial, sans-serif;
  margin-top: 50px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  background-color: #fff;
}

.social-media-icons {
  display: flex;
}
.social-media-icons:hover {
  background-color: #b8b8b8;
}

.social-icon {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
}

.facebook img {
  width: 70px;
}
.linkedin img {
  width: 70px;
}
.instagram img {
  width: 70px;
}
.github img {
  width: 70px;
}

#mail {
  margin-top: 50px;
  text-align: center;
  color: #000;
  font-size: 25px;
  margin-bottom: 30px;
}
#mail,button {margin-top: 10px; color: #c60000;}
/* contact form */
input[type="submit"] {
  background-color: #000;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 30px;
}

/*mouse over the submit button*/
input[type="submit"]:hover {
  background-color: rgb(216, 0, 0);
  font-weight: bold;
  color: #fff;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
}

#end {
  background-color: #7a7a7a;
  color: white;
  font-family: "lato", Arial, Helvetica, sans-serif;
}


