html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", "Lucida Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

section {
  height: 450vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#section1 {background-color: hsl(134, 100%, 94%);}
#section2 {
  height: 250vh;
  background-color: #f2dbf5;
}
#section3 {
  height: 270px; background-color: hsl(64, 100%, 94%);
}
section:nth-child(even) {
  background-color: #efefef;
} 

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #928cde;
  padding: 20px;
  z-index: 3;
}

nav a {
  font-weight: bold;
  color: #0d0053;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover{
  background-color: #377709;
  color: #fff;
}

h2 {  font-family: cursive;
  margin-top: 70px;
  margin-bottom: 10px;
  color: #13a705;
}
h3 {font-family:cursive ;
  font-size: 30px;
    text-align: center;
  margin-top: 12px;
  margin-bottom: 10px;
  color: #600020;
}
p {font-family: cursive;
  margin-bottom: 10px;
  color: hsl(36, 100%, 50%);
  font-weight: bold;
  
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
}
#end {
  background-color: rgb(93, 54, 221);
}
#end p { color: white;}

/* lightbox */
.lightbox-content {
  margin-top: 70px;
  text-align: center;
  color: #000000;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 100px;
  cursor: pointer;
  color: rgb(224, 249, 0);
  animation: spin 1s linear infinite;
}

/* spinner */
.grid-con {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
}

.col-span-full {
  grid-column: span 12;
}

#spinner-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spin-parent {
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.spin-sec {
  height: 100px;
  width: 100px;
}


#spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.col-span-full h2 {
  color: #e89b36;
  font-size: 30px;
  text-align: center;
  animation: fadeIn 4s forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.material-image {
  width: 100%; 
  height: auto; 
  max-width: 300px; 
  max-height: 200px; 
}

.spin-sec {
  width: 100%;
  display: flex;
  justify-content: center;
  
}
.spin-parent {

  width: 100px;
  height: 100px;
  margin-top: 20px;
}