@use 'mixins' as m;

$primary-color: #000000;
$secondary-color: #7b0077;
$accent-color: #83650a;
$body-text-color: #3d0c87;
$heading-font-family:"arial";
$body-font-family: 'Lato', helvetica,arial, sans-serif;
$base-font-size: 1800px;
$base-font-weight: 400px;