@use "fonts";

$primary-color: #483939;
$secondary-color: #2e2222;
$accent-color: #1e90ff;
$body-text-color: #000000;
$heading-font-family: "play";
$body-font-family: "lora";
$color: #392828;
$bar-color: #fff;
$hover-heading: red;
$casestudy_bg: #2e2222;
$hover_menu:#f61aa2;