@use "../abstracts" as a;

// logo
.logo img {
  background-color: $bar-color;
  width: 100px;
  height: auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// about
.about {
  flex-wrap: wrap;
}

#about {
  background-color: $secondary-color;
  color: #fff;
  padding: 20px;
}

.aboutheading {
  font-family: $heading-font-family;
  font-size: 45px;
  color: #3fb3ff;
  text-align: center;
  margin-top: 10px;
  background: $secondary-color;
}

.about__img {
  text-align: center;
  // border-radius: 100px;
  // border-style: dotted;
}

.about_kaur {
  text-align: center;
}

#aboutinfo {
  font-family: $body-font-family;
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
}
.button {
  display: inline-block;
  margin-top: 25px;
  padding: 10px 20px;
  background-color: $hover-heading;
  color: $bar-color;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: $accent-color;
}

/* Media Query for Tablet and Desktop */
@media (min-width: 768px) {
  #aboutinfo {
    font-size: 30px;
    max-width: 600px;
    margin: 15px auto;
  }
  .about__img {
    max-width: 700px;
  }
}

// skills
.skills__heading {
  color: $bar-color;
  font-size: 45px;
  text-align: center;
  font-family: $heading-font-family;
}

#skills {
  background-image: url("../images/skills_bg.jpg");
  filter: brightness(75%);
  background-repeat: no-repeat;
  padding: 70px 10px;
  background-position: center;
  background-size: cover;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 25px;
  font-family: $body-font-family;
  text-align: center;
  color: $bar-color;
}
.skills_categories-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skills__category-item {
  flex: 1 1 0px;
  color: $bar-color;
  margin: 1px;
}
.skills__category-items {
  display: flex;
  flex-direction: column;
}
.skills__category {
  margin-top: 40px;
  margin-bottom: 40px;
  color: $accent-color;
  font-size: 35px;
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
}

// spinner
#spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.col-span-full h2 {
  color: #e89b36;
  font-size: 30px;
  text-align: center;
  animation: fadeIn 4s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.material-image {
  width: 50%;
  height: auto;
  max-width: 300px;
  max-height: 200px;
}
