@use "../abstracts/variables" as v;

body {
    font-family: 'Lato', sans-serif , Arial, Helvetica;
    font-size: 16px;
    font-weight: 100;
}

h1 {
    font-family: 'Lato', sans-serif , Arial, Helvetica;
    font-size: 36px;
    color: $primary-color;
}

h2 {
    
    font-family: 'Lato', sans-serif , Arial, Helvetica;
    font-size: 36px;
    color: $secondary-color;
}

h3 {
    
    font-family: 'Lato', sans-serif , Arial, Helvetica;
    font-size: 24px;
    color: $accent-color;
}
    
section p {
    font-size: 30px;
    color: $primary-color;
  }